/*!--section1 "Texto Individual"*/
.foto{
	width: 500px;
	margin-left: 50px;
}
.al-lado{
	float: left;
}

/*section2 "My Litle"*/

.bg-3{
	background-image: url(../images/bg3.jpg);
	 min-height: 100vh;

/*section3 "Algo que me define"*/
.ancho{
	margin-bottom: 100px;
}
.chico{
	width: 300px;
}
.medio{
	padding-left: 50px;
	padding-top: 30px;
}
.medios{
	padding-top: 30px;
	padding-left: 50px;
	text-align: right;
}
.gris{
	color: gray;
}

h5{
	color: black;
}
.fa{
	font-size: 15px;
	padding-left: 20px;
	color: gray;
	padding-top: 50px;
}