.logo{
	background-image: url(../images/back-lock.jpg);
	min-height: 100vh;
	h1 {@include blanco;
		text-align: center;
		padding-top: 400px;
		font-size: 60px;
	} 
}
span{
	color: white;
	text-align: center;
	font-size: 40px;
}

