/*!--section1 "Texto Individual"*/
.foto {
  width: 500px;
  margin-left: 50px; }

.al-lado {
  float: left; }

/*section2 "My Litle"*/
.bg-3 {
  background-image: url(../images/bg3.jpg);
  width: 100%;
  height: 500px; }

/*section3 "Algo que me define"*/
.ancho {
  margin-bottom: 100px; }

.chico {
  width: 337px; }

.medio {
  padding-left: 50px;
  padding-top: 30px; }

.medios {
  padding-top: 30px;
  padding-left: 50px;
  text-align: right; }

.gris {
  color: gray; }

h5 {
  color: black; }

.fa {
  font-size: 15px;
  padding-left: 20px;
  color: gray;
  padding-top: 50px; }

.navbar-header {
  padding-bottom: 20px; }

#banner {
  width: 60px;
  display: inline;
  margin-left: 80px;
  margin-right: 10px; }

.logo {
  background-image: url(../images/back-lock.jpg);
  width: 100%;
  height: 900px; }
  .logo h1 {
    color: white;
    text-align: center;
    padding-top: 400px;
    font-size: 60px; }

span {
  color: white;
  text-align: center;
  font-size: 40px; }

/*# sourceMappingURL=main.css.map */
